In [3]:
import re
import pandas as pd

In [4]:
df = pd.read_csv('data/known_good/full_clean_addresses.csv')

In [7]:
def normalize_string(input_str):
    input_str = re.sub(r'\s+', ' ', input_str) # compact space
    return input_str.upper().strip()

assert normalize_string(" A b     cd . ") == "A B CD ."

In [8]:
df.head()

             ADDRESSES
0         0 CENTRAL ST
1         0 HARBOR WAY
2  0075 STAGECOACH CIR
3    1 3RD AVE APT 320
4           1 AMES AVE

In [9]:
df['ADDRESSES'] = df['ADDRESSES'].apply(lambda x: normalize_string(x))

In [12]:
df.to_csv('data/known_good/full_clean_addresses.csv', index=False)