In [3]:
import re
import pandas as pd

In [13]:
df = pd.read_csv('fivehundred_more_addresses.csv')

In [18]:
def normalize_string(input_str):
    if not isinstance(input_str, str):
        return ''
    input_str = re.sub(r'\s+', ' ', input_str) # compact space
    return input_str.upper().strip()

assert normalize_string(" A b     cd . ") == "A B CD ."

In [19]:
df.head()

   Unnamed: 0               address1
0           0   6799 OAKS RD STE 200
1           1     756 ROCK BRIDGE RD
2           2          6 DUMOND ROAD
3           3  202 US RTE 1, BOX 360
4           4         42 BRIAN'S WAY

In [21]:
df['address1'] = df['address1'].apply(lambda x: normalize_string(x))

In [23]:
df[['address1']].to_csv('fivehundred_ramdom_addresses.csv', index=False)