In [1]:
import phrase_entity_extraction as ph
import pandas as pd

In [2]:
def separate_returns(row):
    best_fits = ph.return_best_fit(ph.seq, row['MERGED ADDRESS'])
    best_fits = eval(str(best_fits))
    for category in ['ADDRESS', 'POBOX', 'SUITE', 'ATTN']:
        found_entity = next(
            (fit[4] for fit in best_fits if fit and fit[3][0] == category),
            '') if best_fits else 'xx'
        row[category] = found_entity.upper()
    row['BEST FIT'] = str(best_fits)
    return row

In [3]:
fname = "company_uploads_sun_life_financial_20180531_182224_Original_20180531_182224_905_CarpeDataClaimsToScore_20180531.csv"
folderpath = "./"
df = pd.read_csv(folderpath + fname)

In [4]:
df.head()

,dis_clm_cntl_num,emple_first_nm,emple_mi_txt,emple_last_nm,clm_dis_eff_dt,clm_ntfcn_dt,emple_birth_dt,emple_addrl1_txt,emple_addr_ln2_txt,emple_addr_city_nm,emple_addr_zip_cd,emple_phn_num,spsr_full_nm
0,1102022000100,LINDA,NaN,KUHN,2001-09-07 00:00:00,2002-02-11 00:00:00,1953-06-03 00:00:00,1414 Cairns Road,,Mansfield,44903,4197475317,THE CENTER FOR INDIVIDUAL AND F
1,2209150594600,LISA,NaN,HEALD,2015-08-22 00:00:00,2015-09-22 00:00:00,1961-03-10 00:00:00,2720 AVONDALE DR,,COLORADO SPRINGS,80917,7196330505,Colorado Springs School District #11
2,208040097200,KATHLEEN,NaN,MOSQUINSKI,2004-05-20 00:00:00,2004-08-02 00:00:00,1952-07-02 00:00:00,217 BENBROOK DR,,HOUSTON,77076,7136920194,CATHOLIC DIOCESE OF GALVESTON
3,109110039500,Kathleen,,May,2011-05-07 00:00:00,2011-09-01 00:00:00,1952-06-27 00:00:00,472 LUMS ROAD,,NORTH EAST,21901,4102879394,"CHESAPEAKE CARE RESOURCES, INC."
4,501120039100,PATRICIA,NaN,ALLISON,2011-06-22 00:00:00,2012-01-05 00:00:00,1952-10-28 00:00:00,147 County Line Rd,,Ewing,41039,6067485803,Creation Technologies International

In [5]:
df['MERGED ADDRESS'] = df['emple_addrl1_txt'].astype(str) + df['emple_addr_ln2_txt']

In [6]:
df = df.apply(separate_returns, axis=1)

In [7]:
df['get_max_address3'] = df['MERGED ADDRESS'].apply(lambda x: ph.return_max_address3(ph.seq, x))

In [8]:
df.to_csv('sun_life.csv')
! open sun_life.csv