In [1]:
import field_validate_transform_address as ph
import pandas as pd

In [2]:
! ls | grep unum
fname = 'unum_upload.xlsx'
address_1 = "S_LIN_FST_CLN"
address_2 = "S_LIN_SEC_CLN"

unum_upload.xlsx

In [3]:
df = pd.read_excel(fname)

In [4]:
def separate_returns(row):
    best_fits = ph.convert_high_address_validate_transform( row['MERGED ADDRESS'])
    print(best_fits)
    best_fits = eval(str(best_fits))
    for category in ['ADDRESS', 'POBOX', 'SUITE', 'ATTN']:
        found_entity = next(
            (fit[4] for fit in best_fits if fit and fit[3][0] == category),
            '') if best_fits else 'xx'
        row[category] = found_entity.upper()
    row['BEST FIT'] = str(best_fits)
    return row

In [10]:
res = ph.convert_high_address_validate_transform2("123 main st suite 101 C/O Niarferious PO BOX 666 ")
for item in res:
    print(item)
    print()

123 main st suite 101

[[[0, 2, 2, ['_ADDRESS_'], '123 main']], [[0, 3, 3, ['_ADDRESS_'], '123 main st'], [3, 5, 2, ['_SUITE_'], 'suite 101']], [[7, 10, 3, ['_POBOX_'], 'po box 666']], [[8, 10, 2, ['_POBOX_'], 'box 666']]]

[[0, 1, 1, ['_SUITE_'], '123'], [0, 2, 2, ['_ADDRESS_'], '123 main'], [0, 3, 3, ['_ADDRESS_'], '123 main st'], [3, 5, 2, ['_SUITE_'], 'suite 101'], [4, 5, 1, ['_SUITE_'], '101'], [7, 10, 3, ['_POBOX_'], 'po box 666'], [8, 10, 2, ['_POBOX_'], 'box 666'], [9, 10, 1, ['_SUITE_'], '666']]

[[0, 3, 3, ['_ADDRESS_'], '123 main st'], [3, 5, 2, ['_SUITE_'], 'suite 101']]

In [6]:
df = df.fillna('')
df['MERGED ADDRESS'] = df[address_1].astype(str) + df[address_2].astype(str)
df = df[[address_1, address_2, 'MERGED ADDRESS']]

In [7]:

df.head()

             S_LIN_FST_CLN S_LIN_SEC_CLN           MERGED ADDRESS
0           130 Kendall St                         130 Kendall St
1        2915 Chandler Ave                      2915 Chandler Ave
2  1405 MOUNTAIN VALLEY RD                1405 MOUNTAIN VALLEY RD
3   5995 12th Avenue North                 5995 12th Avenue North
4        13783 Latigo Lane                      13783 Latigo Lane

In [8]:
df = df.apply(separate_returns, axis=1)

130 kendall st
130 kendall st

SyntaxError: invalid syntax (<string>, line 1)

In [ ]:
df['get_max_address3'] = df['MERGED ADDRESS'].apply(lambda x: ph.return_max_address3(ph.seq, x))

In [ ]:
df.to_csv('sun_life.csv')
! open sun_life.csv