In [1]:
import phrase_entity_extraction as ph
import pandas as pd

In [2]:
def is_valid_address(_st):
    st = _st
    max_address = ph.return_max_address(ph.seq, st)
    if st == max_address:
        return True
    else:
        return False

In [87]:
source_path = 'eightyk_cleaned_addresses_deduped.csv'
df = pd.read_csv(source_path)

In [88]:
df.head()

                       ADDRESSES
0                          # 115
1                    #1 AVENUE D
2  #1 COOL BLOW STREET SUITE 201
3             #1 FINE ARTS DRIVE
4       #1 PLEASANT VALLEY DRIVE

In [89]:
keep='bad' # use ~ with bad
df = df[~df['ADDRESSES'].apply(lambda x: is_valid_address(x))]
df.to_csv("{}.{}.csv".format(source_path, keep), index=False)
df.head()

                       ADDRESSES
0                          # 115
1                    #1 AVENUE D
2  #1 COOL BLOW STREET SUITE 201
3             #1 FINE ARTS DRIVE
4       #1 PLEASANT VALLEY DRIVE

In [3]:
df = pd.read_csv('eightyk_cleaned_addresses_deduped.csv.bad.csv')

In [4]:
df['TRANSFORM'] = df['ADDRESSES'].apply(lambda x: ph.return_max_address(ph.seq, x) )
df.head()

,ADDRESSES,TRANSFORM
0,# 115,"[['POUND'], ['DIGIT']]"
1,#1 AVENUE D,"[['POUNDDIG'], ['WORDWAY'], ['LETTER']]"
2,#1 COOL BLOW STREET SUITE 201,"[['POUNDDIG'], ['ALPHA'], ['ALPHA'], ['WORDWAY..."
3,#1 FINE ARTS DRIVE,"[['POUNDDIG'], ['ALPHA'], ['ALPHA'], ['WORDWAY']]"
4,#1 PLEASANT VALLEY DRIVE,"[['POUNDDIG'], ['ALPHA', 'COMMONST'], ['WORDWA..."

In [5]:
df.to_csv('eightyk_non_good_mostly_extraction_needed.csv', index=False)

In [6]:
! open eightyk_non_good_mostly_extraction_needed.csv